body{

	background-color: black;
}

.main{
	background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position:relative;
  z-index: 1;
  background-image: url('../images/vDoU6tB_zpsizcfsggn.gif');

}

.ryu{
	float:left;
	width:659px;
	height:494px;
	
}
.ryu-cool,
.ryu-ready,
.ryu-still,
.ryu-throwing{
	width:659px;
	height:494px;
	background-repeat: no-repeat;
}

.ryu-cool,
.ryu-ready,
.ryu-throwing{
display: none; 
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still{
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool{
  background-image: url('../images/ryu-cool.gif');
}




.hadouken{
	float:left;
	background-repeat: no-repeat;
	background-image: url('../images/hadouken.gif');
  	width: 156px; 
  	height: 90px;
  	float:left;
  	position:absolute;
  	z-index: 10;
  	
  	display: none;
  	top:170px;
  	left:520px;
}


/*  *{
	outline: red 1px solid;
}  */


.likha{

  height:425px;
  width:600px;
  position: absolute;
  left:600px;
  margin-top: 70px;
  

}

.str-logo{
  background-image: url('../images/SF_Logo.png');
  height:425px;
  width:600px;
  background-repeat: no-repeat;
  
  
  
}


.by{
  
  font-size: 80px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height:425px;
  width:600px;
  /* background-color: white;
 */
 
}

.jquery{
  height:425px;
  width:600px;
  /* background-color: white; */
 
  background-image: url('../images/jquery.png');
  background-repeat: no-repeat;


}




.p-tag{
  font-size: 30px;
  color:white;
  font-family: comical;
  height:425px;
  width:600px;
  /*background-color: white; */
  
}

.p-tag .tag1{
  height:210px;
  width:300px;
  margin-left:50px;


}

.p-tag .tag2{
  height:200;
  width:300px;
  margin-left: 250px;

}

.p-tag,
.str-logo,
.by,
.jquery{
  display:none; 
}